.vs/debate_arena.slnx/FileContentIndex/27a04fde-c548-414a-8a51-a1aa50fe5ec6.vsidx
.vs/slnx.sqlite
.vs/debate_arena.slnx/FileContentIndex/463b741e-8d32-465a-910a-b0b625ee3379.vsidx
.vs/debate_arena.slnx/FileContentIndex/5620798e-32e9-47b5-8bf3-93b479a3199c.vsidx
.vs/debate_arena.slnx/FileContentIndex/5616e7df-618f-4ee7-9c9c-eb8de411f77e.vsidx
.vs/debate_arena.slnx/v18/.wsuo
backend/__pycache__/debate_manager.cpython-312.pyc
backend/__pycache__/prompts.cpython-312.pyc
backend/.env
backend/__pycache__/main.cpython-312.pyc
backend/main_py_full_documentation.txt
backend/debate_arena.db
backend/__pycache__/database.cpython-312.pyc
